* {
  box-sizing: border-box;
}

.category-btn {
  width: 11.5rem;
  height: 2.063rem;
  margin: 1.75rem 1.05rem 0.563rem 4.788rem;
  padding: 0.438rem 1.188rem 0.5rem 1.375rem;
  border-radius: 3px;
  border: none;
  background-color: #0290ff;
  color: #fff;
  font-family: RobotoSlab, sans-serif;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  opacity: 0.9;
}
